<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="../../img/favicon.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../stylesheets/style.css">
    <title>Last Bench | All Courses</title>
  </head>
  <body>


<%- include('../partials/nav') %>
<a href="/dashboard"><img class="logo" src="../../img/logo.jpg" alt="Logo"></a>

<div id="main">
    <div class="container">
        <span class="back"><a href="/dashboard/<%= user._id %>"><i class="fa fa-arrow-left"></i> Go back</a></span>
        <div class="text-center"> 
            <h1>Courses</h1>
        </div>
        
            <% if(user.role === 'Admin'){ %>
                <a class="button register" href="/admin/courses/new">Add new course</a>
            <% } %>

                <div class="row">
                    <div class="col-md-6 col-sm-12 text-center">
                        <h2 class="text-success">Available</h2>
                        <hr>
                        <% courses.forEach(function(course){ %>
                            <% if(course.teaching) { %>
                                <h3><%= course.code %> - <b class="capital"><%= course.name %></b></h3>
                                <% if(user.role === 'Student' || user.role === 'Admin'){ %>
                                    <h4>Taught by - <b><%= course.faculty.username %></b></h4>
                                    <a class="button register mt-5" href="/courses/<%= course._id %>/details">Details</a>
                                <% } else if(user.role === 'Faculty'){ %>
                                    <% if(user._id.equals(course.faculty.id)) { %> 
                                        <a class="button register mt-5" href="/courses/<%= course._id %>/details">Details</a>
                                    <% } %>
                                <% } %>    
                            <% } %>  
                        <% }); %>
                    </div>
                    <div class="col-md-6 col-sm-12 text-center">
                        <h2 class="text-danger">Faculty Needed</h2>
                        <hr>
                        <% courses.forEach(function(course){ %>
                            <% if((!course.teaching) && (user.role === 'Faculty' || user.role === 'Admin')) { %>
                                <h3><%= course.code %> - <b class="capital"><%= course.name %></b></h3>
                                <% if(user.role === 'Faculty') { %>
                                    <form action="/courses/<%= course._id %>/details" method="POST">
                                        <button class="button login">Teach</button>
                                    </form>
                                <% } %>
                            <% } %>
                        <% }); %>
                    </div>
                </div>
            </div>
    </div>
</div>
<%- include('../partials/footer') %>
<script src="../../js/core.js"></script>  
</body>
</html>