<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <title>Last Bench | Edit My Profile</title>
  </head>
  <body>


<%- include('../partials/nav') %>


<h1>All courses!</h1>
<% if(user.role === 'Admin'){ %>
    <a href="/admin/courses/new">Add new course</a>
<% } %>

<div>
    <div>
        <div>
            <h2>Faculty Needed</h2>
            <% courses.forEach(function(course){ %>
                <% if((!course.teaching) && (user.role === 'Faculty' || user.role === 'Admin')) { %>
                    <h3><%= course.code %> - <%= course.name %></h3>
                    <% if(user.role === 'Faculty') { %>
                        <form action="/courses/<%= course._id %>/details" method="POST">
                            <button>Teach</button>
                        </form>
                    <% } %>
                <% } %>
            <% }); %>
        </div>
 
        <div style="float:right;margin-right: 100px;">
            <h2>Available Courses</h2>
            <% courses.forEach(function(course){ %>
                <% if(course.teaching) { %>
                    <h3><%= course.code %> - <%= course.name %></h3>
                    <% if(user.role === 'Student' || user.role === 'Admin'){ %>
                        <h4>Taught by - <%= course.faculty.username %></h4>
                        <a href="/courses/<%= course._id %>/details">Details</a>
                    <% } else if(user.role === 'Faculty'){ %>
                        <% if(user._id.equals(course.faculty.id)) { %> 
                            <a href="/courses/<%= course._id %>/details">Details</a>
                        <% } %>
                    <% } %>    
                <% } %>  
            <% }); %>
        </div>
    </div>
</div>

<a href="/dashboard/<%= user._id %>">Go back</a>



<%- include('../partials/footer') %>
