<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="../../img/favicon.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../stylesheets/style.css">
    <title>Last Bench | Course Page</title>
  </head>
  <body>


<%- include('../partials/nav') %>
<a href="/dashboard"><img class="logo" src="../../img/logo.jpg" alt="Logo"></a>

<div id="main"> 
    <div class="container">
        <span class="back"><a href="/admin/courses"><i class="fa fa-arrow-left"></i> Go back</a></span>
        <div class="text-center">
            <h1><%= course.code %> - <b class="capital"><%= course.name %></b></h1>
            <div class="text-right">
                <h4>Taught by - <b><%= course.faculty.username %></b></h4>
            </div>
        </div>
        <hr>
            <div class="text-center">
                <h3><b>Course Page</b></h3>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <% if(user.role === 'Faculty') { %>
                
                    <a class="button login" href="/courses/<%= course._id %>/<%= user._id %>/pending">Approve posts</a>
                    <form action="/courses/student" method="POST">
                        <input class="form-field" type="text" name="searchregno" placeholder="Enter registration number to be searched..">
                        <button class="button register">Search</button>
                    </form>
                    <% } %>
                </div>
                <div class="col-md-6 col-sm-12 text-center">
                    <% if(user.role === 'Faculty') { %>
                        <form action="/courses/<%= course.id %>/<%= user._id %>/file" method="POST" enctype="multipart/form-data">
                            <input class="form-field" type="text" name="description" placeholder="About the file..">
                            <input class="form-field form-field-upload" type="file" name="uploadFile">
                            <button class="button register">Upload</button>
                        </form>
                    <% } %> 
                </div>
            </div>
        </div>
        
        
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="text-center">
                    <h2>Posts</h2>
                </div>
                <hr>
                <% posts.forEach(function(post){ %>
                    <% if(post.verified){ %>
                        <div class="text-center">
                            <h3><%= post.title %></h3>
                            <h4>by - <%= post.author.regno %>&nbsp;<b><%= post.author.username %></b></h4>
                            <% if(post.image != ''){ %>
                                <img class="profilepic" src="/course/<%= post.image %>" height="300px" width="300px" alt="No image provided"/>
                            <% } %>
                            <h4><%= post.description %></h4>
                            <% if((currentUser && post.author.id.equals(currentUser._id)) || (currentUser.role === 'Admin' || currentUser.role === 'Faculty')){ %>
                            <div>
                                <a class="button register" href="/courses/<%= course._id %>/<%= user._id %>/<%= post._id %>/edit">Edit</a>
                                <form action="/courses/<%= course._id %>/<%= user._id %>/<%= post._id %>?_method=DELETE" method="POST">
                                   <button class="button login">Delete</button>
                                </form>
                            </div>
                            <% } %>
                        </div>
                    <% } %>
                <% }); %>  
                <div class="text-center">
                    <a class="button register" href="/courses/<%= course._id %>/<%= user._id %>/new">Add new post</a>
                </div>      
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="text-center"> 
                    <h2>Files</h2>
                </div>
                <hr>
                <% files.forEach(function(file){ %>
                    <div class="row text-center">
                        <h4><%= file.description %></h4>
                        <form action="/courses/<%= course._id %>/<%= user._id %>/download/<%= file._id %>" method="GET">
                            <button class="button login">Download</button>
                        </form>
                    </div>
                <% }); %>
            </div>
        </div>

    </div>
</div>

<%- include('../partials/footer') %>
<script src="../../js/core.js"></script>  
</body>
</html>