<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../stylesheets/style.css">
    <title>Last Bench | Course Page</title>
  </head>
  <body>


<%- include('../partials/nav') %>
<a href="/dashboard"><img class="logo" src="../../img/logo.jpg" alt="Logo"></a>

<h1>Course Page</h1>
<h3>for</h3>
<h3><%= course.code %> - <%= course.name %></h3>
<h4>Taught by - <%= course.faculty.username %></h4>

<% if(user.role === 'Faculty') { %>
    <a href="/courses/<%= course._id %>/<%= user._id %>/pending">Approve posts</a>
    <form action="/courses/student" method="POST">
        <input type="text" name="searchregno" placeholder="Enter registration number to be searched..">
        <button>Search</button>
    </form>
<% } %>

<a href="/courses/<%= course._id %>/<%= user._id %>/new">Add new post</a>

<a href="/courses/<%= course._id %>/details">Go back</a>
<a href="/users/logout" class="btn btn-secondary">Logout</a>

<% if(user.role === 'Faculty') { %>
    <form action="/courses/<%= course.id %>/<%= user._id %>/file" method="POST" enctype="multipart/form-data">
        <input type="text" name="description" placeholder="About the file..">
        <input type="file" name="uploadFile">
        <button>Upload</button>
    </form>
<% } %> 

<div>
    <div>
        <h2>Posts</h2>
        <% posts.forEach(function(post){ %>
            <% if(post.verified){ %>
                <div>
                    <h1><%= post.title %></h1>
                    <h3>by - <%= post.author.regno %>&nbsp;<%= post.author.username %></h3>
                    <h4><%= post.description %></h4>
                    <% if(post.image != ''){ %>
                        <img src="/course/<%= post.image %>" height="300px" width="300px" alt="No image provided"/>
                    <% } %>
                    <% if((currentUser && post.author.id.equals(currentUser._id)) || (currentUser.role === 'Admin' || currentUser.role === 'Faculty')){ %>
                    <div>
                        <a href="/courses/<%= course._id %>/<%= user._id %>/<%= post._id %>/edit">Edit</a>
                        <form action="/courses/<%= course._id %>/<%= user._id %>/<%= post._id %>?_method=DELETE" method="POST">
                           <button>Delete</button>
                        </form>
                    </div>
                    <% } %>
                </div>
            <% } %>
        <% }); %>        
    </div>
    <div>
        <h2>Files</h2>
        <% files.forEach(function(file){ %>
            <div>
                <h4><%= file.description %></h4>
                <form action="/courses/<%= course._id %>/<%= user._id %>/download/<%= file._id %>" method="GET">
                    <button>Download</button>
                </form>
            </div>
        <% }); %>
    </div>
</div>

<%- include('../partials/footer') %>
<script src="../../js/core.js"></script>  
</body>
</html>