<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="../../img/favicon.png">
    <link rel="stylesheet" href="../../stylesheets/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <title>Last Bench | Course Overview</title>
  </head>
  <body>


<%- include('../partials/nav') %>
<a href="/dashboard"><img class="logo" src="../../img/logo.jpg" alt="Logo"></a>

<div id="main">
    <div class="container">
        <span class="back"><a href="/admin/courses"><i class="fa fa-arrow-left"></i> Go back</a></span>
        <div class="text-center">
            <h2><%= course.code %> - <b class="capital"><%= course.name %></b></h2>
            <div class="text-right">
                <h4>Taught by - <b><%= course.faculty.username %></b></h4>
            </div>
        </div>
        
        <hr>
        <% if((user.role === 'Faculty' && (course.faculty.id.equals(user._id))) || user.role === 'Admin') { %>
            <% if(user.role === 'Faculty') { %>
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="text-center">
                            <a class="button login" href="/courses/<%= course._id %>/<%= user._id %>/pending">Approve posts</a>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <form action="/courses/student" method="POST">
                            <input class="form-field" type="text" name="searchregno" placeholder="Enter registration number to be searched..">
                            <button class="button register">Search</button>
                        </form>
                    </div>
                </div>
            <% } %>
            <div class="options">
                <div class="text-center">
                    <a class="button login" href="/courses/<%= course._id %>/<%= user._id %>">Course Page</a>
                </div>
            </div>
            <div class="text-center">
                <h2>Students</h2>
            </div>
            <% course.students.forEach(function(student){   %>
                <h3><%= student.regno %>&nbsp;<b><%= student.username %></b></h3>
            <% }); %>
        <% } %>
            
        <% if(user.role === 'Student'){ %>
            <% if(user.courses.includes(course.code)) { %>
                <div class="text-center">
                    <a class="button login" href="/courses/<%= course._id %>/<%= user._id %>">Course Page</a>
                </div>
            <% } else { %>
                <form action="/courses/<%= course._id %>/enrolled" method="POST">
                    <button class="button register">Enroll</button>
                </form>  
            <% } %>   
        <% } %>
    </div>
</div>


<%- include('../partials/footer') %>
<script src="../../js/core.js"></script>  
</body>
</html>