<a href="/courses/<%= user._id %>">Go back</a>
<a href="/users/logout">Logout</a>
<h2>Details for <%= student.regno %></h2>

<h2><%= student.fname %> <%= student.lname %></h2>
<h4><%= student.contact %></h4>
<h4><%= student.email %></h4>

<a href="/studentmessages/<%= student._id %>">Leave a message</a>
