<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="../img/favicon.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <title>Last Bench | Edit My Profile</title>
  </head>
  <body>


<%- include('partials/nav') %>
<a href="/dashboard"><img class="logo" src="../img/logo.jpg" alt="Logo"></a>

<div id="main">
    <div class="container">
      <span class="back"><a href="/profile/<%= user._id %>"><i class="fa fa-arrow-left"></i> Go back</a></span>
      <h1>Edit Profile</h1>

        <form action="/profile/<%= user._id %>?_method=PUT" method="POST">
            <div class="row">
              <input class="form-field" type="text" name="fname" value="<%= user.fname %>"/>
            </div>
            <div class="row">
              <input class="form-field" type="text" name="lname" value="<%= user.lname %>"/>
            </div>
            <div class="row">
              <input class="form-field" type="number" name="contact" value="<%= user.contact %>"/>
            </div>
            <div class="row">
              <input class="form-field" type="text" name="website" value="<%= user.website %>"/>
            </div>
            <div class="row">
              <input class="form-field" type="text" name="about" value="<%= user.about %>"/>
            </div>
            <div class="row">
              <input class="form-field" type="text" name="interests" value="<%= user.interests %>"/>
            </div>
            <div class="row">
              <input class="form-field" type="text" name="city" value="<%= user.city %>"/>
            </div>
            <div class="row">
              <input class="form-field" type="text" name="country" value="<%= user.country %>"/>
            </div>
            <button class="button login">Update</button>
        </form>
    </div>
</div>


<section id="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-12">
          <h4>&copy; Copyright <span class="farm"><a href="/">Last Bench</a></span> 2020</h4>
        </div>
        <div class="col-md-4 col-sm-12">
          <h4 class="call"><i class="fa fa-phone"></i>: <a href="tel:+918258926316">+91-8258926316</a></h4>
        </div>
        <div class="foot col-md-4 col-sm-12">
          <ul>
            <li><a href="https://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://www.instagram.com"><i class="fa fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>


<script src="../js/core.js"></script>  
</body>
</html>
  