<h1>Register as Tutor</h1>
<%- include('./partials/messages') %>
  <form action="/users/register" method="POST">
    <div class="form-group">
      <label for="regno">Employee ID</label>
      <input type="name" name="regno" placeholder="Enter Employee ID" value="<%= typeof regno != 'undefined' ? regno : '' %>"/>
    </div>
    <div class="form-group">
      <label for="fname">First Name</label>
      <input type="name" name="fname" placeholder="Enter first name" value="<%= typeof fname != 'undefined' ? fname : '' %>"/>
    </div>
    <div class="form-group">
      <label for="lname">Last Name</label>
      <input type="name" name="lname" placeholder="Enter last name" value="<%= typeof lname != 'undefined' ? lname : '' %>"/>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" name="email" placeholder="Enter Email" value="<%= typeof email != 'undefined' ? email : '' %>"/>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" name="password" placeholder="Create Password" value="<%= typeof password != 'undefined' ? password : '' %>"/>
     </div>
    <div class="form-group">
      <label for="password2">Confirm Password</label>
      <input type="password" name="password2" placeholder="Confirm Password" value="<%= typeof password2 != 'undefined' ? password2 : '' %>"/>
    </div>
    <div class="form-group">
      <label for="code">Access Code</label>
      <input type="password" name="code" placeholder="Access Code..." value="<%= typeof code != 'undefined' ? code : '' %>"/>
    </div>
    <div class="form-group">
      <label for="contact">Contact</label>
      <input type="number" name="contact" placeholder="Enter contact number" value="<%= typeof contact != 'undefined' ? contact : '' %>"/>
    </div>
    <div class="form-group">
      <label for="website">Website</label>
      <input type="text" name="website" placeholder="Website" value="<%= typeof website != 'undefined' ? website : '' %>"/>
    </div>
    <div class="form-group">
      <label for="about">About</label>
      <input type="text" name="about" placeholder="About yourself.." value="<%= typeof about != 'undefined' ? about : '' %>"/>
    </div>
    <div class="form-group">
      <label for="interests">Interests</label>
      <input type="text" name="interests" placeholder="Your interests.." value="<%= typeof interests != 'undefined' ? interests : '' %>"/>
    </div>
    <div class="form-group">
      <label for="city">City</label>
      <input type="text" name="city" placeholder="City" value="<%= typeof city != 'undefined' ? city : '' %>"/>
    </div>
    <div class="form-group">
      <label for="country">Country</label>
      <input type="text" name="country" placeholder="Country" value="<%= typeof country != 'undefined' ? country : '' %>"/>
    </div>
    <div class="form-group">
      <label for="role">Role</label>
      <input type="text" name="role" readonly="readonly" value="Faculty"/>
    </div>
    <button type="submit" class="btn btn-primary btn-block">
      Register
    </button>
  </form>
  <p>Still a <a href="/users/register">student?</a></p>
  <p class="lead mt-4">Have An Account? <a href="/users/login">Login</a></p>