 <!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <title>Sign Up | Last Bench</title>
  </head>
  <body>

<div id="reg-form-section"> 
  <div class="options">
     <h1>Register as student</h1>
  </div>
  <%- include('./partials/messages') %>
  <div class="container form-container">
    <div class="formbox">
        <form action="/users/register" method="POST">
          <div class="row">
            <input class="form-field" type="text" name="regno" placeholder="Enter Registration Number" value="<%= typeof regno != 'undefined' ? regno : '' %>"/>
          </div>
          <div class="row">
            <input class="form-field" type="text" name="fname" placeholder="Enter first name" value="<%= typeof fname != 'undefined' ? fname : '' %>"/>
          </div>
          <div class="row">
            <input class="form-field" type="text" name="lname" placeholder="Enter last name" value="<%= typeof lname != 'undefined' ? lname : '' %>"/>
          </div>
          <div class="row">
            <input class="form-field" type="email" name="email" placeholder="Enter Email" value="<%= typeof email != 'undefined' ? email : '' %>"/>
          </div>
          <div class="row">
            <input class="form-field" type="password" name="password" placeholder="Create Password" value="<%= typeof password != 'undefined' ? password : '' %>"/>
           </div>
          <div class="row">
            <input class="form-field" type="password" name="password2" placeholder="Confirm Password" value="<%= typeof password2 != 'undefined' ? password2 : '' %>"/>
          </div>
          <div class="row">
            <input class="form-field" type="number" name="contact" placeholder="Enter contact number" value="<%= typeof contact != 'undefined' ? contact : '' %>"/>
          </div>
          <div class="row">
            <input class="form-field" type="text" name="website" placeholder="Website" value="<%= typeof website != 'undefined' ? website : '' %>"/>
          </div>
          <div class="row">
            <input class="form-field" type="text" name="about" placeholder="About yourself.." value="<%= typeof about != 'undefined' ? about : '' %>"/>
          </div>
          <div class="row">
            <input class="form-field" type="text" name="interests" placeholder="Your interests.." value="<%= typeof interests != 'undefined' ? interests : '' %>"/>
          </div>
          <div class="row">
            <input class="form-field" type="text" name="city" placeholder="City" value="<%= typeof city != 'undefined' ? city : '' %>"/>
          </div>
          <div class="row">
            <input class="form-field" type="text" name="country" placeholder="Country" value="<%= typeof country != 'undefined' ? country : '' %>"/>
          </div>
          <div class="row">
            <input class="form-field" type="text" name="role" readonly="readonly" value="Student"/>
          </div>
          <div class="row">
            <button type="submit" class="button login">
              Sign Up
            </button>
          </div>
        </form>
        <p>Register as a <a href="/users/registerfaculty">faculty</a></p>
        <p class="lead mt-4">Have An Account? <a href="/users/login">Login</a></p>
      </div>
  </div>
</div>

<%-  include('partials/footer') %>